/* General Styles */
:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
    background-color: var(--white);
}

.description {
    font-weight: 500;
    line-height: 150%;
    color: var(--slate-600);
}

.download-btn, .info-btn {
    display: block;
    border: none;
    padding: 16px 40px;
    border-radius: 29px;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 150%;
    color: var(--white);
    transition: 0.5s;
}

.section-num {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-num .num-hanger {
    width: 1px;
    height: 80px;
    background-color: var(--slate-300);
}

.section-num span {
    padding: 16px 19px;
    border: 1px solid var(--slate-300);
    border-radius: 50%;
    color: var(--slate-600);
    font-weight: 900;
    line-height: 150%;
    background-color: var(--white);
}

/* Hero Section */
#hero-section #logo-img {
    margin: 52px 0;
}

#hero-section #users-img {
    width: 114%;
    transform: translateX(-7%);
}

#hero-section #hero-text {
    padding: 20px 32px 8px;
}

#hero-section h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 110%;
    color: var(--slate-900);
    margin: 24px 0;
}

#hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#hero-buttons .download-btn {
    background-color: var(--cyan-600);
}

#hero-buttons .download-btn:hover {
    background-color: #71C0D4;
}

#hero-buttons .download-btn .version {
    color: var(--cyan-300);
}

#hero-buttons .info-btn {
    background-color: var(--purple-600);
}

#hero-buttons .info-btn:hover {
    background-color: #B18BDD;
}

/* Info Section */
#info-section {
    padding: 32px;
}

#info-section .section-num {
    margin-top: 32px;
}

#info-section #img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 64px 0;
}

#info-section #img-grid img {
    width: 100%;
    border-radius: 8px;
}

#info-section .mini-heading {
    line-height: 110%;
    color: var(--cyan-600);
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

#info-section h2, #download-section h2 {
    font-size: 32px;
    line-height: 110%;
    font-weight: 900;
}

#info-section h2 {
    color: var(--slate-900);
    margin: 16px 0 32px;
}

/* Download Section */
#download-section {
    padding: 64px 32px 32px;
    background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(./assets/mobile/image-footer.jpg);
    background-size: cover;
    margin-top: 120px;
    position: relative;
}

#download-section .section-num {
    position: absolute;
    top: -108px;
    left: calc(50% - 28px);
}

#download-section h2 {
    color: var(--white);
    margin: 16px 0;
}

#download-section .description {
    color: var(--white);
    margin: 24px 0;
}

#download-section .download-btn {
    margin: 0 auto 30px;
    background-color: var(--purple-600);
    color: var(--white);
}

#download-section .download-btn:hover {
    background-color: #B18BDD;
}

#download-section .download-btn .version {
    color: var(--purple-300);
}